html {
  background: linear-gradient(to right, #070000, #000000, #070000);
}

#calculator{
  background:#000000;
  margin: auto;
  width: 75%;
}

#keys {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:2% 2%;
  margin:auto;
}
#bottomKeys {
  position: relative;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  gap:2% 2%;
  text-align: center;
  margin-top: 7%;
  
}

#display {
  background:#000000;
  padding-top: 20%;
  text-align:right;
  color:white;
  position: relative;
  font-size: 18vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 5% 5% 5% 5%;
}

.button{ 
  display: inline-block;
  width: 100%;
  height: 0;
  padding-top: 20%;
  padding-bottom: 80%;
  border-radius: 50%;
  color:white;
  border-style: none;
  font-family: "San Francisco","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 9vw;
  
    
}

button:focus{ 
  outline:0;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.orange {
  background-color:#FF8C2D;
  
}


.orange:active {
  
  background-color:rgb(223, 223, 223);
  transition: background-color .35s ease;
}
.value {
  background-color:#333333;
  
}


.value:active {
  background-color:rgb(223, 223, 223);
  transition: background-color .35s ease;
}

.white {
  background-color:#A5A5A5;
  color: black;
}

.white:active {
  
  background-color:rgb(223, 223, 223);
  transition: background-color .35s ease;

}

.zero{
  border-radius: 30%;
  padding-top: 10%;
  padding-bottom: 40%;
}

